name: build
on:
  push:
    branches-ignore:
    - 'coverity_scan'
  pull_request:

jobs:
  build:
    if: ${{ !contains(github.event.head_commit.message, '[ci skip]') }}
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
        - {os: macOS-latest, r: 'devel'}
        - {os: macOS-latest, r: 'release'}
        - {os: windows-latest, r: 'release'}
        - {os: ubuntu-latest, r: 'release'}
        - {os: ubuntu-latest, r: 'oldrel'}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      _R_CHECK_CRAN_INCOMING_REMOTE_: false

    steps:
    - uses: actions/checkout@v2
    - uses: r-lib/actions/setup-r@master
      with:
        r-version: ${{ matrix.config.r }}
    - uses: r-lib/actions/setup-pandoc@master
    - uses: r-lib/actions/setup-tinytex@v1
      if: ${{ runner.os != 'Windows' }}

    - name: Query dependencies
      run: |
        install.packages('remotes')
        saveRDS(remotes::dev_package_deps(dependencies=TRUE), ".github/depends.Rds", version=2)
      shell: Rscript {0}

    - name: Cache R packages
      if: ${{ runner.os != 'Windows' }}
      uses: actions/cache@v1
      with:
        path: ${{ env.R_LIBS_USER }}
        key: ${{ matrix.config.os }}-r-${{ matrix.config.r }}-1-${{ hashFiles('.github/depends.Rds') }}
        restore-keys: ${{ matrix.config.os }}-r-${{ matrix.config.r }}-1-

    - name: Install Linux dependencies
      if: ${{ runner.os == 'Linux' }}
      run: sudo apt-get install devscripts libcurl4-openssl-dev

    - name: Install dependencies
      run: |
        remotes::install_deps(dependencies=TRUE)
        remotes::install_cran(c("rcmdcheck", "covr"))
      shell: Rscript {0}

    - name: Check ignoring vignettes
      if: ${{ runner.os == 'Windows' }}
      run: |
        rcmdcheck::rcmdcheck(args=c("--no-manual", "--as-cran", "--ignore-vignettes"),
          build_args="--no-build-vignettes", error_on="warning", check_dir="check")
      shell: Rscript {0}

    - name: Check
      if: ${{ runner.os != 'Windows' }}
      run: |
        rcmdcheck::rcmdcheck(args=c("--no-manual", "--as-cran"),
          build_args="--compact-vignettes=both", error_on="warning", check_dir="check")
      shell: Rscript {0}

    - name: Upload check results
      if: ${{ failure() }}
      uses: actions/upload-artifact@master
      with:
        name: ${{ matrix.config.os }}-r${{ matrix.config.r }}-results
        path: check
