name: build
on:
  push:
    branches-ignore:
    - 'coverity_scan'
  pull_request:

jobs:
  build:
    if: ${{ !contains(github.event.head_commit.message, '[ci skip]') }}
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
        - {os: macOS-latest, r: 'release'}
        - {os: windows-latest, r: 'release'}
        - {os: ubuntu-latest, r: 'devel', http-user-agent: 'release'}
        - {os: ubuntu-latest, r: 'release', covr: 'yes'}
        - {os: ubuntu-latest, r: 'oldrel'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes
      _R_CHECK_CRAN_INCOMING_REMOTE_: false

    steps:
    - uses: actions/checkout@v2
    - uses: r-lib/actions/setup-r@v1
      with:
        r-version: ${{ matrix.config.r }}
        http-user-agent: ${{ matrix.config.http-user-agent }}
        use-public-rspm: true
    - uses: r-lib/actions/setup-r-dependencies@v1
      with:
        extra-packages: rcmdcheck, covr
    - uses: r-lib/actions/setup-pandoc@v1
    - uses: r-lib/actions/setup-tinytex@v1

    - name: Check
      run: |
        rcmdcheck::rcmdcheck(args=c("--no-manual", "--as-cran"),
          build_args="--compact-vignettes=both", error_on="warning", check_dir="check")
      shell: Rscript {0}

    - name: Upload check results
      if: ${{ failure() }}
      uses: actions/upload-artifact@master
      with:
        name: ${{ matrix.config.os }}-r${{ matrix.config.r }}-results
        path: check

    - name: Test coverage
      if: ${{ success() && matrix.config.covr == 'yes' }}
      run: covr::codecov()
      shell: Rscript {0}

  dispatch:
    needs: build
    if: ${{ github.ref == 'refs/heads/master' }}
    strategy:
      matrix:
        repo: ['plot', 'bricks']
    runs-on: ubuntu-latest
    steps:
    - name: Dispatch builds in dependent packages
      uses: peter-evans/repository-dispatch@v1
      with:
        token: ${{ secrets.SIMMER_TOKEN }}
        repository: r-simmer/simmer.${{ matrix.repo }}
        event-type: simmer
